<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">

    <link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <%= csrf_meta_tags %>

    <!-- Bootstrap for IE 8-->
    <!--[if lt IE 9]>
    <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js' %>
    <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js' %>
    <![endif]-->

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    '//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js' %>

    <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.min.js' %>

    <!-- drawer (depend to iScroll) -->
    <%= stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css' %>
    <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js' %>
    <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js' %>

    <%= yield :head %>

    <style type="text/css">
      <%= yield :additional_css %>
    </style>
  </head>

  <body class="<%= controller_name %> pc drawer drawer--left">
    <section role="fixed-top"></section>
    <section role="scroll-body" id="scroll-body">
      <%= render partial: 'layouts/shared/notifications' %>
      <%= render partial: 'layouts/shared/header' %>
      <main id="content-body" class="container">
        <article id="pt">
          <%= yield %>
        </article>
      </main>
      <%= render partial: 'layouts/shared/footer' %>
    </section>
    <%= yield :out_of_scroll_contents %>
  </body>
</html>
